<section id="portada" class="position-relative vh-100">
  <div
    class="position-absolute w-100 h-100 bg-dark"
    style="opacity: 0.5; z-index: -1"
  ></div>
  <img
    src="assets/fondo.jpg"
    alt="Fondo de portada"
    class="position-absolute w-100 h-100"
    style="object-fit: cover; z-index: -1"
  />
  <div
    class="d-flex flex-column justify-content-center align-items-center text-light h-100"
  >
    <h1 class="display-4 text-center fw-bold shine-text">CONTACT PROJECT</h1>
    <p class="lead text-center mt-3 fw-bold shine-text">
      Te Conectamos con el Mundo
    </p>
    <a href="#services" class="btn btn-primary mt-4">Explorar</a>
  </div>
</section>
<section class="page-section position-relative vh-100" id="hacia-donde-vamos">
  <div
    class="position-absolute w-100 h-100"
    style="
      background-image: url('assets/fondo.jpg');
      background-size: cover;
      background-position: center;
      z-index: -1;
    "
  ></div>

  <div class="container">
    <div class="text-center text-light">
      <h2 class="section-subheading text-muted">Crecer es nuestra virtud!</h2>
    </div>
    <div class="row text-center d-flex align-items-stretch">
      <div class="col-md-6 mb-4 d-flex">
        <div class="card shadow-sm border-light w-100 d-flex h-100">
          <div class="card-body">
            <h4 class="card-title text-primary">Misión</h4>
            <p class="card-text text-muted">
              Ser la empresa numero 1 en el pais en telecomunicaciones basadas
              en inteligencia artificial
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 d-flex">
        <div class="card shadow-sm border-light w-100 d-flex h-100">
          <div class="card-body">
            <h4 class="card-title text-primary">Visión</h4>
            <p class="card-text text-muted">
              Posicionarnos en el mercado empresarial e industrial contribuyendo
              con el desarollo de la comunicacion basado en inteligencia
              artificial
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Servicios</h2>
      <h3 class="section-subheading text-muted">Construccion de Proyectos:</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-motorcycle fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">En Linea</h4>
        <p class="text-muted">Ofrecemos asistencia totalmente en linea</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-car fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Presencial</h4>
        <p class="text-muted">Tenemos puntos fisicos de interaccion</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-truck fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Estudios</h4>
        <p class="text-muted">Realizamos estudios tecnicos de la zona</p>
      </div>
    </div>
  </div>
</section>
<a href="#" class="btn btn-outline-primary position-fixed bottom-0 end-0 m-5">
  <i class="fas fa-arrow-up text-white"></i>
</a>
