<!-- footer.component.html -->
<footer class="bg-dark text-white py-4 mt-5">
  <div class="container text-center">
    <p>&copy; 2024 ContacProject. Todos los derechos reservados.</p>
    <p>
      <!-- <a href="mailto:{{ email }}">{{ email }}</a> <br /> -->
      <a href="/contact" class="text-white">Contáctanos</a>
    </p>
    <div>
      <a href="#" class="text-white me-3">Facebook</a>
      <a href="#" class="text-white me-3">Twitter</a>
      <a href="#" class="text-white">LinkedIn</a>
    </div>
  </div>
</footer>
